---
layout: default
title: Jayser Mendez - Full Stack Developer
---
<style>
.featured-img {
  width: 100%;
  height: 200px;
  margin-bottom: 17px;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.url }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    
    <span class="post-date">
      
      <time id="postedon" datetime="{{ post.date | date_to_xmlschema }}">
        posted <span id="postedago"></span>
        on {{ post.date | date: "%B %-d, %Y" }}
      </time>
    
      - 
      Categories: 
      {% for category in post.categories %}
      {{ category | capitalize}} 
      {% endfor %}
    
    </span>
    
    {% if post.feature-img %}
    <div class="featured-img">
      <a href="{{ site.url }}{{ post.url }}">
        <img class="feature-image object-fit-cover" src={{ post.feature-img }} alt="{{ post.title }}">
      </a>
    </div>
    {% endif %}

    {{ post.excerpt | strip_html | truncatewords:75 }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.url }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.url }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<script src"public/timeago.js"></script>
